[user]
  name = Ryota Sakurai
  email = nkzsdy@gmail.com
[push]
  default = matching
[alias]
  a = add
  b = branch
  co = checkout
  cm = commit
  d = diff
  l = log
  lg = log --graph
  lo = log --oneline
  log = log --oneline --graph
  pl = pull
  ps = push
  s = status
  sw = switch
[core]
  excludesfile = ~/.gitignore_global
  editor = /opt/homebrew/bin/nvim
[ghq]
  root = ~/src
[init]
  defaultBranch = main
